<div class="container">

  <header class="search-filter">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">@</span>
              <%= text_field_tag :username, session[:username], class: "form-control", placeholder: "Username" %>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Show their followers</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>

  <% if flash[:error] %>
  <div class="row">
    <div class="alert alert-danger col-sm-8 col-sm-offset-1" role="alert"><strong>Argh!</strong> <%= flash[:error] %></div>
  </div>
  <% end %>

  <div class="user-list">
    <%= render partial: "user", collection: @users, locals: {actions: [:follow, :ignore]} %>
  </div>

  <% if @users.size == 100 %>

    <div class="load-more">
      <button class="load-more-btn btn btn-lg">Show me MORE!!!1</button>
    </div>

  <% end %>


</div>